.color1, .color1:hover{
  background-color: #ff324d !important;  //critical
}
.color2{
  background-color: #ffd602 !important;  //warning
}
.color3{
  background-color: #8cc800 !important;  //ok
}
.color4{
  background-color: #501eb4 !important;  //neutral-3-a
}
.color5{
  background-color: #ff7d28 !important;   //accent-2
}
